.register {
    color: #FFF;
    background: orange;
    font-size: 1.1rem;
    border: none;
}

.boder {
    border: 2px solid darkgoldenrod;
}

.content {
    @extend .register;
    @extend .boder;
    
    max-width: 500px;
    font-weight: bold;
    padding: 25px;
    line-height: 30px;
    margin-top: 10px;
    color: #333;
}